/* [project]/src/app/globals.css [app-client] (css) */
@custom-variant dark (& :is(. dark * ));

:root {
  --radius: .65rem;
  --background: #fff;
  --foreground: #09090b;
  --card: #fff;
  --card-foreground: #09090b;
  --popover: #fff;
  --popover-foreground: #09090b;
  --primary: #1447e6;
  --primary-foreground: #eff6ff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717b;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #e40014;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #a1a1a1;
  --chart-1: #90c5ff;
  --chart-2: #3080ff;
  --chart-3: #155dfc;
  --chart-4: #1447e6;
  --chart-5: #193cb8;
  --sidebar: #fafafa;
  --sidebar-foreground: #09090b;
  --sidebar-primary: #155dfc;
  --sidebar-primary-foreground: #eff6ff;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #a1a1a1;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(100% 0 0);
    --foreground: lab(2.51107% .242703 -.886115);
    --card: lab(100% 0 0);
    --card-foreground: lab(2.51107% .242703 -.886115);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(2.51107% .242703 -.886115);
    --primary: lab(36.9089% 35.0961 -85.6872);
    --primary-foreground: lab(96.492% -1.14644 -5.11479);
    --secondary: lab(96.1634% .0993311 -.364041);
    --secondary-foreground: lab(8.30603% .618205 -2.16572);
    --muted: lab(96.1634% .0993311 -.364041);
    --muted-foreground: lab(47.8878% 1.65477 -5.77283);
    --accent: lab(96.1634% .0993311 -.364041);
    --accent-foreground: lab(8.30603% .618205 -2.16572);
    --destructive: lab(48.4493% 77.4328 61.5452);
    --border: lab(90.6853% .399232 -1.45452);
    --input: lab(90.6853% .399232 -1.45452);
    --ring: lab(66.128% -.0000298023 .0000119209);
    --chart-1: lab(77.5052% -6.4629 -36.42);
    --chart-2: lab(54.1736% 13.3369 -74.6839);
    --chart-3: lab(44.0605% 29.0279 -86.0352);
    --chart-4: lab(36.9089% 35.0961 -85.6872);
    --chart-5: lab(30.2514% 27.7853 -70.2699);
    --sidebar: lab(98.26% 0 0);
    --sidebar-foreground: lab(2.51107% .242703 -.886115);
    --sidebar-primary: lab(44.0605% 29.0279 -86.0352);
    --sidebar-primary-foreground: lab(96.492% -1.14644 -5.11479);
    --sidebar-accent: lab(96.1634% .0993311 -.364041);
    --sidebar-accent-foreground: lab(8.30603% .618205 -2.16572);
    --sidebar-border: lab(90.6853% .399232 -1.45452);
    --sidebar-ring: lab(66.128% -.0000298023 .0000119209);
  }
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --card-foreground: #fafafa;
  --popover: #18181b;
  --popover-foreground: #fafafa;
  --primary: #1447e6;
  --primary-foreground: #eff6ff;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #9f9fa9;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #ff6568;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #737373;
  --chart-1: #90c5ff;
  --chart-2: #3080ff;
  --chart-3: #155dfc;
  --chart-4: #1447e6;
  --chart-5: #193cb8;
  --sidebar: #18181b;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #3080ff;
  --sidebar-primary-foreground: #eff6ff;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #525252;
}

@supports (color: lab(0% 0 0)) {
  .dark {
    --background: lab(2.51107% .242703 -.886115);
    --foreground: lab(98.26% 0 0);
    --card: lab(8.30603% .618205 -2.16572);
    --card-foreground: lab(98.26% 0 0);
    --popover: lab(8.30603% .618205 -2.16572);
    --popover-foreground: lab(98.26% 0 0);
    --primary: lab(36.9089% 35.0961 -85.6872);
    --primary-foreground: lab(96.492% -1.14644 -5.11479);
    --secondary: lab(15.7305% .613764 -2.16959);
    --secondary-foreground: lab(98.26% 0 0);
    --muted: lab(15.7305% .613764 -2.16959);
    --muted-foreground: lab(65.6464% 1.53497 -5.42429);
    --accent: lab(15.7305% .613764 -2.16959);
    --accent-foreground: lab(98.26% 0 0);
    --destructive: lab(63.7053% 60.745 31.3109);
    --border: lab(100% 0 0 / .1);
    --input: lab(100% 0 0 / .15);
    --ring: lab(48.496% 0 0);
    --chart-1: lab(77.5052% -6.4629 -36.42);
    --chart-2: lab(54.1736% 13.3369 -74.6839);
    --chart-3: lab(44.0605% 29.0279 -86.0352);
    --chart-4: lab(36.9089% 35.0961 -85.6872);
    --chart-5: lab(30.2514% 27.7853 -70.2699);
    --sidebar: lab(8.30603% .618205 -2.16572);
    --sidebar-foreground: lab(98.26% 0 0);
    --sidebar-primary: lab(54.1736% 13.3369 -74.6839);
    --sidebar-primary-foreground: lab(96.492% -1.14644 -5.11479);
    --sidebar-accent: lab(15.7305% .613764 -2.16959);
    --sidebar-accent-foreground: lab(98.26% 0 0);
    --sidebar-border: lab(100% 0 0 / .1);
    --sidebar-ring: lab(34.924% 0 0);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius)  - 4px) ; --radius-md: calc(var(--radius)  - 2px) ; --radius-lg: var(--radius) ; --radius-xl: calc(var(--radius)  + 4px) ; --shadow-xs: 0 1px 2px 0 #0000000d; --shadow-xs-color: #0000000d; --color-background: var(--background) ; --color-foreground: var(--foreground) ; --color-card: var(--card) ; --color-card-foreground: var(--card-foreground) ; --color-popover: var(--popover) ; --color-popover-foreground: var(--popover-foreground) ; --color-primary: var(--primary) ; --color-primary-foreground: var(--primary-foreground) ; --color-secondary: var(--secondary) ; --color-secondary-foreground: var(--secondary-foreground) ; --color-muted: var(--muted) ; --color-muted-foreground: var(--muted-foreground) ; --color-accent: var(--accent) ; --color-accent-foreground: var(--accent-foreground) ; --color-destructive: var(--destructive) ; --color-border: var(--border) ; --color-input: var(--input) ; --color-ring: var(--ring) ; --color-chart-1: var(--chart-1) ; --color-chart-2: var(--chart-2) ; --color-chart-3: var(--chart-3) ; --color-chart-4: var(--chart-4) ; --color-chart-5: var(--chart-5) ; --color-sidebar: var(--sidebar) ; --color-sidebar-foreground: var(--sidebar-foreground) ; --color-sidebar-primary: var(--sidebar-primary) ; --color-sidebar-primary-foreground: var(--sidebar-primary-foreground) ; --color-sidebar-accent: var(--sidebar-accent) ; --color-sidebar-accent-foreground: var(--sidebar-accent-foreground) ; --color-sidebar-border: var(--sidebar-border) ; --color-sidebar-ring: var(--sidebar-ring) ;
}

@layer base {
  @apply border-border outline-ring / 50;

  @apply bg-background text-foreground;
}

/*# sourceMappingURL=src_app_globals_css_bad6b30c._.single.css.map*/